name: Build a firmware

on:

  workflow_call:
    inputs:
      qmk_version:
        default: 'master'
        type: string
        required: false
      keyboard:
        type: string
        required: true
      keymap:
        type: string
        required: true

jobs:

  build:

    name: Build a firmware ${{ inputs.keyboard }}:${{ inputs.keymap }}

    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/qmk/qmk_cli:latest

    steps:

    - name: Checkout source
      uses: actions/checkout@v4

    - name: Install missing python modules
      env:
        PIP_BREAK_SYSTEM_PACKAGES: "1"
      run: /usr/bin/python3 -m pip install --break-system-packages -r qmk_firmware/requirements.txt

    - name: Compile and link
      run: make -C qmk_firmware -j 4 keyball/${{ inputs.keyboard }}:${{ inputs.keymap }}

    - name: List build outputs
      run: |
        ls -R qmk_firmware/.build || true

    - name: Archive built firmware
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.keyboard }}-${{ inputs.keymap }}-firmware
        path: |
          qmk_firmware/.build/**/*.hex
          qmk_firmware/.build/**/*.uf2
          qmk_firmware/.build/**/*.bin
        if-no-files-found: error
